* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html {
    background-color: #101010;
}

body {
    text-align: center;
    padding-top: 25px;
}

h1 {
    font-size: 30px;
    letter-spacing: 2px;
    color: #c5e5ff;
}

p {
    overflow-wrap: break-word;
}

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: auto;
}

.app-div {
    position: relative;
    width:100%;
    background-color: #e4e4e4;
    padding: 35px 25px;
    border-radius: 3px;
}

.app-header {
    font-size: 20px;
    letter-spacing: 1px;
    margin: auto auto 25px auto;
}

.password-output {
    background-color: white;
    color: #5a5a5a;
    width: 75%;
    margin: auto;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: #673AB7 2px 3px 7px;
}

.button-div {
    margin-top: 25px;
}

.generateBtn {
    padding: 10px 30px;
    margin: 5px;
    background-color: #007eb7;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}

.generateBtn:hover {
    background-color: #185e7d;
}
.created-by {
    font-size: 10px;
    position: absolute;
    margin: auto;
    padding: 5px;
    bottom: 0;
    right: 0;
}

.options-form {
    padding-bottom: 30px;
}


@media screen and (max-width: 767px) {
    h1 {
        font-size: 25px;
    }
    
    .app-div {
        padding: 35px 10px;
        border-radius: 0px;
    }

    .app-header {
        font-size: 18px;
        margin: auto auto 15px auto;
    }

    .password-output {
        width: 100%;
        padding: 10px 10px;
    }
}